body {
}


@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }

}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/*.container {
    padding-right: 125px;
    padding-left: 125px;
    margin-right: auto;
    margin-left: auto;
}*/

.thumbnail:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    transform:scale(1.02)
}
#image-preview , #image-preview2,#image-preview3,#image-preview4,#image-preview5,#image-preview6,#image-preview7,#image-preview8 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#image-preview:hover, #image-preview2:hover,#image-preview3:hover,#image-preview4:hover,#image-preview5:hover,#image-preview6:hover,#image-preview7:hover, #image-preview8:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

